@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 id="page-header" data-testid="page-header">Counter</h1>

<p id="current-count" data-testid="current-count" role="status">Current count: @currentCount</p>

<button id="btn-count" data-testid="btn-count" class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
